@charset "utf-8";

a:hover,
a:visited {
    color: #fff;
    text-decoration: none;
}

a {
    color: rgba(255, 255, 255, .75);
    transition: color 250ms;
}

.list-group-item {
    text-shadow: 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, .5);
    border: 1px solid rgba(255, 255, 255, .3);
    background-color: rgba(0, 0, 0, .15);
}

.list-group-item:hover {
    background-color: rgba(0, 0, 0, .4);
}

.list-group-item:hover a {
    color: #fff;
}

html, body {
    height: 100%;
}

.container {
    height: calc(100% - 11rem);
}
@media screen and (max-width: 767px) {
    .container {/*首页没有导航*/
        height: auto;
        padding-bottom: 4rem;
    }

}
.container > .row:first-child {
    padding-top: 4rem;

}

.container > .row {
    height: 20rem;
}
@media screen and (max-width: 1439px){
    .container > .row {
        height: 18rem;
    }

}
.container > .row.bottom {
    height: 10rem;
}
.top:hover {
    height: 24rem;
}
.top:hover ~ .bottom{
    height: 6rem;
}

@media screen and (max-width: 767px) {
    #index .container > .row {
        height: auto;
    }

    .container > .row:first-child {
        padding-top: 7rem;
        padding-left: 40%;
    }

    .container > .row:last-child {
        padding-right: 40%;
        padding-top: 10%;
    }
}

section.item {
    position: relative;
}

section.item > a {
}

section.item h2 {
    position: relative;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 1);
    text-shadow: .125rem .125rem .25rem rgba(0, 0, 0, .6);
    animation: h2Animation 3s infinite;
}

@media screen and (max-width: 767px) {
    section.item h2 {
        margin-bottom: 1rem;
        margin-top: 1.5rem;
        text-shadow: .125rem .125rem .25rem rgba(0, 0, 0, .75);
    }
}

section.item:nth-of-type(2) h2 {
    animation-duration: 5s;
    animation-delay: 1s;
}

section.item:nth-of-type(3) h2 {
    animation-duration: 4s;
}

.container > .row:nth-of-type(2) section.item h2 {
    animation-delay: 1.5s;
}

@keyframes h2Animation {
    from {
        opacity: 1;
        top: 0;
    }
    38.2% {
        opacity: .3;
        top: -1rem;
    }
    to {
        opacity: 1;
        top: 0;
    }
}

section.item ul {
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    width: 20rem;
    text-align: center;
}

@media screen and (max-width: 767px) {
    section.item ul {
        position: relative;
        width: 16rem;
    }
}

section.item:hover > ul {
    display: block;
}

section.item:hover h2 {
    animation: none;
}
section.item ul > li{
    padding: 0;
}
section.item ul > li > a {
    display: block;
    width: 100%;
    text-align: left;
    padding: 0.75rem 1.25rem;
}
@media screen and (max-width: 767px) {
    .mainFooter{
        position: fixed;
        bottom: 0;
    }
}

/*
ul > li {
    counter-increment: mycounter;
}

ul > li:before {
    content: counter(mycounter) ". ";
}
*/
